[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-rest-framework = "*"
psycopg = "*"
psycopg2 = "*"
psycopg2-binary = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
daphne = "*"
channels-redis = "*"
google-generativeai = "*"
grpcio = "==1.60.1"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.12"
